<template>
  <div>
    <!--제목, 소제목(헤더)-->
    <div class="flex justify-between">
      <div>
        <h1 class="text-[18px] font-bold text-[#212121]">가게 관리</h1>
        <h2 class="text-[13px] text-[#5e5e5e]">가게 등록</h2>
      </div>
    </div>
    <!--가게 정보 박스 1-->
    <el-form
        :model="storeForm"
        label-width="auto"
        class="demo-ruleForm"
    >
      <div class="w-full mt-2 border-solid border-y border-[#212121] ">
        <div class="w-full h-9 bg-[#1a1a1a] text-[#ffffff] font-bold">
        </div>
        <div class="text-[15px]">
          <div class="w-full">
            <div class="flex h-[45px]">
              <div class="flex w-1/2">
                <div class="w-32 text-center mr-2 text-[#5e5e5e] bg-[#f3f3f3] ">가게 명</div>
                <div class="w-[calc(100%-9rem)] text-center">
                  <el-form-item prop="storeName">
                    <el-input
                        v-model="storeForm.storeName"
                        style="width: 100%"
                        type="text"
                        placeholder="가게명을 입력해주세요"
                        show-word-limit
                    />
                  </el-form-item>
                </div>
                <!--                <div class="">{{ data.storeName }}</div>-->
              </div>
              <div class="flex w-1/2">
                <div class="w-32 text-center mr-2 text-[#5e5e5e] bg-[#f3f3f3]">가게 전화번호</div>
                <div class="w-[calc(100%-9rem)] text-center">
                  <el-form-item prop="storeNumber">
                    <el-input
                        v-model="storeForm.storeNumber"
                        style="width: 100%"
                        type="text"
                    />
                  </el-form-item>
                </div>

                <!--                <div class="">{{data.storeNumber}}</div>-->
              </div>
            </div>
            <hr>
            <div class="flex leading-10">
              <div class="flex w-1/2 h-[45px]">
                <div class="w-32 text-center mr-2 text-[#5e5e5e] bg-[#f3f3f3] ">대표자명</div>
                <div class="w-[calc(100%-9rem)] text-center">
                  <el-form-item prop="bossName">
                    <el-input
                        v-model="storeForm.bossName"
                        style="width: 100%"
                        type="text"
                    />
                  </el-form-item>
                </div>

                <!--                <div class="">{{data.bossName}}</div>-->
              </div>
              <div class="flex w-1/2">
                <div class="w-32 text-center mr-2 text-[#5e5e5e] bg-[#f3f3f3]">사업자 번호</div>
                <div class="w-[calc(100%-9rem)] text-center">
                  <el-form-item prop="shopId">
                    <el-input
                        v-model="storeForm.shopId"
                        style="width: 100%"
                        type="text"
                    />
                  </el-form-item>
                </div>

                <!--                <div class="">{{data.shopId}}</div>-->
              </div>
            </div>
            <hr>
            <div class="flex h-[45px]">
              <div class="py-2 w-32 text-center mr-2 text-[#5e5e5e] bg-[#f3f3f3]">가게 위치</div>
              <div class="flex w-96 text-center gap-2">
                <el-form-item prop="storeX">
                  <el-input
                      placeholder="위도"
                      v-model="storeForm.storeX"
                      style="width: 100%"
                      type="number"
                  />
                </el-form-item>
                <el-form-item prop="storeY">
                  <el-input
                      placeholder="경도"
                      v-model="storeForm.storeY"
                      style="width: 100%"
                      type="number"
                  />
                </el-form-item>
              </div>
            </div>
            <hr>
            <div class="flex leading-10">
              <div class="flex w-full h-[45px]">
                <div class="w-32 text-center mr-2 text-[#5e5e5e] bg-[#f3f3f3]">가게 주소(도로명)</div>
                <div class="w-[calc(100%-9rem)] text-center">
                  <el-form-item prop="addressStoreDo">
                    <el-input
                        v-model="storeForm.addressStoreDo"
                        style="width: 100%"
                        type="text"
                    />
                  </el-form-item>
                </div>
                <!--                <div class="">{{ data.addressStoreDo }}</div>-->
              </div>
            </div>
            <hr>
            <div class="flex leading-10">
              <div class="flex w-full h-[45px]">
                <div class="w-32 text-center mr-2 text-[#5e5e5e] bg-[#f3f3f3]">가게 주소(지번)</div>
                <div class="w-[calc(100%-9rem)] text-center">
                  <el-form-item prop="addressStoreG">
                    <el-input
                        v-model="storeForm.addressStoreG"
                        style="width: 100%"
                        type="text"
                    />
                  </el-form-item>
                </div>

                <!--                <div class="">{{ data.addressStoreG }}</div>-->
              </div>
            </div>
            <hr>
            <div class="flex leading-10">
              <div class="flex w-full h-[45px]">
                <div class="w-32 text-center mr-2 text-[#5e5e5e] bg-[#f3f3f3]">배달 지역</div>
                <div class="w-[calc(100%-9rem)] text-center">
                  <el-form-item prop="deliveryArea">
                    <el-input
                        v-model="storeForm.deliveryArea"
                        style="width: 100%"
                        type="text"
                    />
                  </el-form-item>
                </div>

                <!--                    <div class="">{{data.sellTime}}</div>-->
              </div>
            </div>
            <hr>
            <div class="flex leading-10">
              <div class="flex w-full h-[45px]">
                <div class="w-32 text-center mr-2 text-[#5e5e5e] bg-[#f3f3f3]">운영시간</div>
                <div class="w-[calc(100%-9rem)] text-center">
                  <el-form-item prop="sellTime">
                    <el-input
                        v-model="storeForm.sellTime"
                        style="width: 100%"
                        type="text"
                    />
                  </el-form-item>
                </div>

                <!--                    <div class="">{{data.sellTime}}</div>-->
              </div>
            </div>
            <hr>
            <div class="flex leading-10">
              <div class="flex w-full h-[45px]">
                <div class="w-32 text-center mr-2 text-[#5e5e5e] bg-[#f3f3f3]">휴무일</div>
                <div class="w-[calc(100%-9rem)] text-center">
                  <el-form-item prop="holiday">
                    <el-input
                        v-model="storeForm.holiday"
                        style="width: 100%"
                        type="text"
                    />
                  </el-form-item>
                </div>
                <!--                    <div class="">{{data.holiday}}</div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full flex justify-center mt-5">
        <el-form-item>
          <el-button
              class="button-black transition delay-150 w-[100px] h-[40px] bg-[#EB8512] text-[14px] text-center font-bold rounded hover:bg-[#F39B1E] hover:drop-shadow-lg duration-300 mr-3" @click="submitShop()">
            등록
          </el-button>
          <el-button
              class="button-white transition delay-150 w-[100px] h-[40px] bg-[#F3F3F3] text-[14px] text-center font-bold rounded hover:bg-[#EDEDED] hover:drop-shadow-lg duration-300" @click="goBack()">
            취소
          </el-button>
        </el-form-item>
      </div>
    </el-form>
  </div>
</template>
<script setup lang="ts">
import {reactive, ref} from "vue";
import {storeToRefs} from 'pinia'
import {useShopStore} from "~/stores/shop";


const router = useRouter();
const id = ref('');

// 취소버튼 (공지 리스트 페이지)
const pushReturnPage = () => {
  router.push("/shop")
}

const goBack = () => {
  router.back()
}


// 가게 등록 form 그릇
const storeForm = reactive({
  storeName: '',
  addressStoreDo: '',
  addressStoreG: '',
  storeNumber: '',
  sellTime: '',
  holiday: '',
  deliveryArea: '',
  bossName: '',
  shopId: '',
  storeX: '',
  storeY: '',
})

// 스토어 생성
const shopStore = useShopStore()

const submitShop = () => {
  const payload = {
    storeName: storeForm.storeName,
    addressStoreDo: storeForm.addressStoreDo,
    addressStoreG: storeForm.addressStoreG,
    storeNumber: storeForm.storeNumber,
    sellTime: storeForm.sellTime,
    holiday: storeForm.holiday,
    deliveryArea: storeForm.deliveryArea,
    bossName: storeForm.bossName,
    shopId: storeForm.shopId,
    storeX: storeForm.storeX,
    storeY: storeForm.storeY,
  }
    shopStore.setShop(payload);
    router.push("/shop");
}


// onMounted(async () => {
//   id.value = router.currentRoute.value.params.id;
//   console.log(id.value);
//   try {
//     const response = await fetch(`http://matddak.shop:8080/v1/store/detail/${id.value}`);
//     const json = await response.json();
//     data.value = json.data;
//   } catch (error) {
//     console.log('', error);
//   }
// });

</script>
